[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.10.7'

[packages]
pyautogui = "0.9.53"
opencv-python = "==4.7.0.68"
gracefull-shutdown-py = "==v0.2.1"
Pillow = "==9.4.0"
keyboard = "==0.13.5"

[dev-packages]
pytest='==7.2.0'
pytest-asyncio='==0.20.3'
