[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.10.7'

[packages]
pyautogui = "*"
croniter = "==1.3.8"
gracefull-shutdown-py = "==v0.1.0"
Pillow = "*"

[dev-packages]
pytest='==7.2.0'
